* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(46, 140, 145);
  font-weight: 500;
  font-size: 25px;
  height: auto;
}
.header .logo {
  width: 300px;
  height: 150px;
  filter: drop-shadow(15px 15px 15px #ffffff);
}
.header .nav-item {
  padding-left: 20px;
}
.header .nav-item .nav-link {
  padding: 8px !important;
  padding-top: 6px !important;
  padding-bottom: 4px !important;
  color: rgb(40, 140, 145);
  background-color: rgb(255, 247, 247) !important;
  border-radius: 25% 10% !important;
}
.header .nav-item :hover {
  color: rgb(40, 140, 145) !important;
}
.header .nav-item:active {
  position: relative !important;
  top: 3px !important;
}

.body {
  background-color: rgba(203, 253, 253, 0.836);
}
.body h1 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 7rem;
}
.body h2 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 5rem;
}
.body h3 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 4rem;
}
.body h4 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 3rem;
}
.body p {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.body a {
  text-decoration: none !important;
}

section h1 {
  margin-top: 50px;
}
section .imagenPrincipal {
  margin-bottom: 50px;
  width: 100%;
}

.sectionCardsIndex {
  margin-top: 30px;
}
.sectionCardsIndex .card-img-top {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.sectionCardsIndex .anclaCardsIndex {
  color: rgb(40, 140, 145) !important;
  font-family: "Teko", sans-serif !important;
  font-size: 30px !important;
  font-weight: 700;
}

.divIndex {
  margin-top: 5rem;
}
.divIndex .subtitulosIndex, .divIndex .textoIndex .textoDestacado {
  text-align: center;
  font-family: "Teko", sans-serif;
  color: rgb(40, 140, 145);
  font-weight: 700;
}
.divIndex .textoIndex {
  text-align: center;
}
.divIndex .textoIndex .textoDestacado {
  font-size: 28px !important;
}

@media (min-width: 576px) {
  section .imagenPrincipal {
    height: 200px;
  }
}
@media (min-width: 768px) {
  section .imagenPrincipal {
    height: 260px;
  }
}
@media (min-width: 992px) {
  section .imagenPrincipal {
    height: 320px;
  }
}
@media (min-width: 1200px) {
  section .imagenPrincipal {
    height: 400px;
  }
}
section .textoDestacadoNosotros {
  font-family: "Teko", sans-serif;
  font-size: 28px !important;
  color: rgb(40, 140, 145);
  font-weight: 700;
}

section .imgGaleria {
  width: 100%;
  height: 100%;
}
section .cover {
  object-fit: cover;
}
section .filtro {
  filter: brightness(50%);
}
section .imgHover {
  transition: all 2s;
  z-index: -1;
}
section .imgHover:hover {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  overflow: hidden;
  cursor: zoom-in;
  align-self: center;
}
section .imgHover:click {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}
section .imgHover :focus {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}

section .formulario {
  width: 100%;
  background-color: rgba(134, 134, 134, 0.575);
}
section .formulario .btn {
  background-color: rgb(46, 140, 145) !important;
  border-color: rgb(46, 140, 145) !important;
}
section .formulario .mapa {
  height: 300px;
  width: 100%;
}

footer {
  margin-top: 5rem;
  text-align: center;
  font-size: 1rem;
  padding-top: 10px;
  line-height: 15px;
  background-color: rgb(46, 140, 145);
  color: #fff;
}
footer .footerDiv {
  margin-top: 3rem;
}
footer .footerDiv .footerIcono {
  padding-bottom: 3rem;
  color: white;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}
footer ul a {
  color: #fff !important;
}
footer ul a:hover {
  color: #fff !important;
}
footer ul li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
footer ul li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  opacity: 0.2;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
  transition: all 0.2s ease;
}
footer ul li:hover::after {
  width: 80%;
  opacity: 1;
  transition: all 0.2s ease;
}
footer p {
  padding-top: 2rem;
  padding-bottom: 0.8rem;
  color: white;
  font-family: "Teko", sans-serif !important;
  font-weight: bold !important;
}

/*# sourceMappingURL=styles.css.map */
