* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(46, 140, 145);
  font-weight: 500;
  font-size: 25px;
  height: auto;
}
.header .logo {
  width: 300px;
  height: 150px;
  filter: drop-shadow(15px 15px 15px #ffffff);
}
.header .nav-item {
  padding-left: 20px;
}
.header .nav-item .nav-link {
  padding: 8px;
  padding-top: 6px;
  padding-bottom: 4px;
  color: rgb(40, 140, 145);
  background-color: rgb(255, 247, 247);
  border-radius: 25% 10%;
}
.header .nav-item :hover {
  color: rgb(40, 140, 145);
}
.header .nav-item:active {
  position: relative;
  top: 3px;
}

/* cosas generales */
.body {
  background-color: rgba(203, 253, 253, 0.836);
}
.body section h1 {
  margin-top: 50px;
}
.body section .imagenPrincipal {
  height: 650px;
  margin-bottom: 50px;
  width: 100%;
  border-radius: 20px;
}
.body h1 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 7rem;
}
.body h2 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 5rem;
}
.body h3 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 4rem;
}
.body h4 {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 3rem;
}
.body p {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.body a {
  text-decoration: none !important;
}
.body .contenedorAnimaciones {
  overflow: hidden;
}

@media (max-width: 768px) {
  section .imagenPrincipal {
    height: 260px !important;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  section .imagenPrincipal {
    height: 380px !important;
  }
}
.sectionCardsIndex {
  margin-top: 30px;
}
.sectionCardsIndex .card-img-top {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.sectionCardsIndex .anclaCardsIndex {
  color: rgb(40, 140, 145);
  font-family: "Teko", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.divIndex {
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.divIndex .subtitulosIndex, .divIndex .textoIndex .textoDestacado {
  text-align: center;
  font-family: "Teko", sans-serif;
  color: rgb(40, 140, 145);
  font-weight: 700;
}
.divIndex .textoIndex {
  text-align: center;
}
.divIndex .textoIndex .textoDestacado {
  font-size: 28px;
}

section {
  margin-bottom: 8rem;
}
section .textoNosotros {
  padding: 16px;
}
section .textoNosotros .textoDestacadoNosotros {
  font-family: "Teko", sans-serif;
  font-size: 28px;
  color: rgb(40, 140, 145);
  font-weight: 700;
}

.mainPilotos {
  margin-bottom: 8rem;
}

section {
  margin-bottom: 8rem;
}
section .imgGaleria {
  width: 100%;
  height: 100%;
}
section .cover {
  object-fit: cover;
}
section .filtro {
  filter: brightness(50%);
}
section .imgHover {
  transition: all 2s;
  z-index: -1;
}
section .imgHover:hover {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  overflow: hidden;
  cursor: zoom-in;
  align-self: center;
}
section .imgHover:click {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}
section .imgHover :focus {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}

section .formulario {
  width: 100%;
  background-color: rgba(134, 134, 134, 0.575);
}
section .formulario .btn {
  background-color: rgb(46, 140, 145);
  border-color: rgb(46, 140, 145);
}
section .formulario .mapa {
  height: 300px;
  width: 100%;
}

.main404 {
  overflow: hidden;
}
.main404 .bgImg {
  padding: 0;
  height: 700px;
  background: url(../assets/img/fondo404.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}
.main404 .texto404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main404 .texto404 .ancla404 {
  color: rgb(40, 140, 145);
}

@media (max-width: 768px) {
  .main404 {
    overflow: hidden;
  }
  .bgImg {
    padding: 0;
    height: 400px !important;
    background: url(../assets/img/fondo404.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
  }
}
.footer {
  background-color: rgb(46, 140, 145);
}
.footer .footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer .footerDiv .footerIcono {
  font-size: 35px;
  padding: 20px;
  color: white;
}
.footer .footerDiv .footerIcono:hover {
  color: black;
}
.footer .footerUl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footerUl li {
  color: white;
  list-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Albert Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
.footer .footerUl li::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  opacity: 0.2;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
  transition: all 0.2s ease;
}
.footer .footerUl li:hover::after {
  width: 80%;
  opacity: 1;
  transition: all 0.2s ease;
}
.footer .footerUl li .footerAncla {
  text-decoration: none;
  color: white;
}
.footer .derechosReservados {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.footer .derechosReservados .textoFooter {
  color: white;
  font-size: 0.9rem;
  font-family: "Albert Sans", sans-serif;
  font-weight: medium;
}

/*# sourceMappingURL=styles.css.map */
