/* cosas generales */

.body {
    background-color: $bg-color-main;
    section{
        h1 {
            margin-top: 50px;
        }
        .imagenPrincipal {
            height: 700px;
            margin-bottom: 50px;
            width: $ancho;
            border-radius: 20px;
        }
    }
    h1 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 7rem;
    }
    h2 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 5rem;
    }
    
    h3 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 4rem ;
    }
    
    h4 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 3rem;
    }
    
    p {
        font-family: $fuente-parrafos;
        font-size: 20px;
        color: $text-color;
        font-weight: map-get($tamaño-fuentes, medium);
    }
    
    a {
        text-decoration: none !important;
    }
    .contenedorAnimaciones {
        overflow: hidden;
    }
}

@media (max-width:768px)  {
    section {
        .imagenPrincipal  {
        height: 300px !important; 
        }
    }
}

@media (max-width:1280px)  {
    section {
        .imagenPrincipal  {
        height: 400px !important;
        }
    }
}
