.body {
    background-color: $bg-color-main;
    h1 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 7rem !important;
    }
    h2 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 4rem !important;
    }
    
    h3 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 3rem !important;
    }
    
    h4 {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: 2rem !important;
    }
    
    p {
        font-family: $fuente-parrafos;
        font-size: 20px;
        color: $text-color;
        font-weight: map-get($tamaño-fuentes, medium);
    }
    
    a {
        text-decoration: none !important;
    }
}