.footer {
    margin-top: 10rem;
    background-color: $bg-color-footer;
    .footerDiv {
        margin-top: 3rem;
        @include flexbox ($center, $center, $row);
        .footerIcono {
        font-size: 35px;
        padding: 20px;
        color: white;
        }
    }
    .footerUl {
        @include flexbox ($center, $center, $column);
        li {
            color: white;
            list-style: none;
            padding-top: 6px;
            padding-bottom: 6px;
            font-family: $fuente-parrafos;
            font-size: 1.2rem;
            font-weight: map-get($tamaño-fuentes, medium);
            text-transform: uppercase;
            position: relative;
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                opacity: 0.2;
                content: '.';
                color: transparent;
                background: white;
                height: 1px;
                transition: all .2s ease;
            }
            &:hover::after {
                width: 80%;
                opacity: 1;
                transition: all .2s ease;
            }
                .footerAncla {
                text-decoration: none;
                color: white;
            }
        }
    }
    .derechosReservados{
        padding-top: 10px;
        display: flex;
        justify-content: $center;
        .textoFooter{ 
            color: white;
            font-size: .9rem !important;
            font-family: $fuente-parrafos !important;
            font-weight: medium !important;
        }
    }
}
