section {
    margin-bottom: 8rem;
    .textoNosotros {
        padding: 16px;
        .textoDestacadoNosotros {
            font-family: $font-titulos;
            font-size: 28px;
            color: $primary-color;
            font-weight: map-get($tamaño-fuentes, bold);
        }
    }
}