
section{
    h1 {
        margin-top: 50px;
    }
    .imagenPrincipal {
        margin-bottom: 50px;
        width: $ancho;
    }
}

.sectionCardsIndex {
    margin-top: 30px;
    .card-img-top {
    width: $ancho;
    height: 75%;
    object-fit: $cover;
    }
    .anclaCardsIndex {
        color: $primary-color !important;
        font-size: map-get($sizes, 25) !important;
        font-weight: map-get($tamaño-fuentes, bold);
    }
}

.divIndex {
    margin-top: 5rem;
    .subtitulosIndex {
        text-align: center;
        font-family: $font-titulos;
        color: $primary-color;
        font-weight: map-get($tamaño-fuentes, bold);
    }
    .textoIndex{
        text-align: center;
        .textoDestacado {
            @extend .subtitulosIndex;
            font-size: 28px !important;
        }
    }
}

@media (min-width:576px){
    section {
        .imagenPrincipal  {
        height: 200px;
        }
    }
}

@media (min-width:768px)  {
    section {
        .imagenPrincipal  {
        height: 260px;
        }
    }
}

@media (min-width:992px)  {
    section {
        .imagenPrincipal  {
        height: 320px;
        }
    }
}

@media (min-width:1200px)  {
    section {
        .imagenPrincipal  {
        height: 400px;
        }
    }
}