
.sectionCardsIndex {
    margin-top: 30px;
    .card-img-top {
        width: $ancho;
        height: 75%;
        object-fit: $cover;
    }
    .anclaCardsIndex {
        color: $primary-color;
        font-family: $font-titulos;
        font-size: map-get($sizes, 30);
        font-weight: map-get($tamaño-fuentes, bold);
    }
}

.divIndex {
    margin-top: 5rem;
    margin-bottom: 8rem;
    .subtitulosIndex {
        text-align: center;
        font-family: $font-titulos;
        color: $primary-color;
        font-weight: map-get($tamaño-fuentes, bold);
    }
    .textoIndex{
        text-align: center;
        .textoDestacado {
            @extend .subtitulosIndex;
            font-size: 28px;
        }
    }
}
