
$font-titulos: 'Teko', sans-serif;
$fuente-parrafos: 'Albert Sans', sans-serif;
$ancho :100%;
$flex: flex;
$center: center;
$row: row;
$space-around: space-around;
$space-between:space-between;
$column:column;
$space-evenly:space-evenly;
$text-align: center;
$primary-color:  rgb(46, 115, 115);
$bg-color-main: rgba(203, 253, 253, 0.836);
$bg-color-header: rgb(166, 227, 233);
$bg-color-footer: rgb(46, 140, 145);
$text-color: rgb(0, 0, 0);
$cover: cover;

$bordes:(
    borde-solid-principal :  1px solid black,
    borde-solid-dospx:  2px solid black,
    borde-solid-trespx:  3px solid black,
    borde-solid-gray : 1px solid gray
);

$map-flex:(
    flex: flex,
    row: row,
    column: column,
    space-around: space-around,
    space-between: space-between,
    space-evenly: space-evenly,
    space-center: center,
    align-items-stretch: stretch
);



$tamaño-fuentes:(
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);

$sizes:(
    catorce: 14px,
    16 : 16px,
    25 : 25px,
    10 : 10px,
    30 : 30px
);
