
$font-titulos: 'Teko', sans-serif;
$fuente-parrafos: 'Albert Sans', sans-serif;
$ancho :100%;
$flex: flex;
$center: center;
$row: row;
$column: column;
$space-around: space-around;
$space-between:space-between;
$column:column;
$space-evenly:space-evenly;
$text-align: center;
$primary-color:  rgb(40, 140, 145);
$bg-color-main: rgba(203, 253, 253, 0.836);
$bg-color-header: rgb(166, 227, 233);
$bg-color-footer: rgb(46, 140, 145);
$text-color: rgb(0, 0, 0);
$cover: cover;


$tamaño-fuentes:(
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);

$sizes:(
    catorce: 14px,
    16 : 16px,
    25 : 25px,
    10 : 10px,
    30 : 30px
);
