.body {
    color: $primary-color;
    background-color: $bg-color-grey;
    background-image: url(../assets/img/fondo5.jpg);
    background-size: $cover;
    background-attachment: fixed;
    background-position: $center;
    background-repeat: no-repeat;
}