.body {
    color: rgb(0, 0, 0);
    background-color: rgba(97, 86, 86, 0.705);
    background-image: url(../assets/img/fondo5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}