$fuente-principal: "Heebo", "Montserrat", sans-serif;
$ancho :100%;
$flex: flex;
$center: center;
$row: row;
$space-around: space-around;
$space-between:space-between;
$column:column;
$space-evenly:space-evenly;
$text-align: center;
$primary-color: rgb(0, 0, 0);
$bg-color-grey: rgba(97, 86, 86, 0.705);
$text-grey: rgb(200, 200, 200);
$cover: cover;